.more{
    background: url(../img/title-3.jpg)no-repeat center top,
    url(../img/stitle-1.png)no-repeat  left 100px;
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;

}
.more .app{
    float: left;
    width: 500px;
    margin-left: 50px;
    padding-top: 100px;
}
.more .app li{
    float: left;
    padding: 0 8px 15px 8px;
    
}
.more .app img{
    width:100px;
    height: 100px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgb(0 0 0 /0.5);
}
.more .app .title{
    text-align: center;
    font-size: 12px;
    padding: 10px 0;
}
.more .gz{
    float: right;
    background: url(../img/stitle-2.png)no-repeat  top left,
    url(../img/weixin.png)no-repeat 20px 378px,
    url(../img/sina.png)no-repeat 352px top;
    width: 430px;
    margin-top: 100px;
    padding-left: 80px;
}
.more .wc{
    float: left;
    background: url(../img/stitle-3.png)no-repeat top left,
    url(../img/line2.jpg)no-repeat 60px top;
    width: 550px;
    margin-top: 10px;
}

.more .wc li a{
    display: block;
    float: left;
    width: 170px;
    height: 42px;
    margin-left: 80px;
    margin-top: 25px;
    border: 1px #d5d5d5 solid;
    border-radius: 20px;
    text-align: center;
    line-height: 42px;
    position: relative;
}
.more .wc img{
    position: absolute;
    left: -15px;
    bottom: 0;
    transition: 0.5s;
}
.more .wc a:hover img{
    transform: translateX(-50%);
}
